# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Office gecici kilit dosyalari
~$*

# Model yedekleri (gecici)
*_v1_backup.keras
*_v1_thr05.keras